/OnionArchitecture/WebApi/bin
/OnionArchitecture/WebApi/obj
/OnionArchitecture/Persistence/obj
/OnionArchitecture/Persistence/bin
/OnionArchitecture/Domain/obj
/OnionArchitecture/Domain/bin
/OnionArchitecture/Application/obj
/OnionArchitecture/Application/bin
/OnionArchitecture/.vs
